body {
  background-color: #282c34;
  color: white;
  text-align: center;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: white;
}

.Controls {
  display: flex;
}

.Control {
  padding: 1rem 2rem;
}

.StepsControl {
  flex-grow: 1;
}

.Colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 1vmin);
}
