body {
  background-color: #282c34;
  color: white;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: calc(10px + 1vmin);
}
